@model Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />

            <div class="form-group">
                <label class="control-label">Select User</label>
                <select name="UserId" class="form-control">
                    @foreach (var item in (List<SelectListItem>)ViewBag.Users)
                    {
                        if (item.Value == Model.UserId)
                        {
                            <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Select State</label>
                <select name="State" class="form-control">
                    @foreach (var item in (List<SelectListItem>)ViewBag.States)
                    {
                        if (int.Parse(item.Value) == (int)Model.State)
                        {
                            <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PercentDiscount" class="control-label"></label>
                <input asp-for="PercentDiscount" class="form-control" placeholder="Enter Discount (%)"/>
                <span asp-validation-for="PercentDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PercentTax" class="control-label"></label>
                <input asp-for="PercentTax" class="form-control" placeholder="Enter Tax (%)"/>
                <span asp-validation-for="PercentTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryFee" class="control-label"></label>
                <input asp-for="DeliveryFee" class="form-control" placeholder="Enter Delivery Fee"/>
                <span asp-validation-for="DeliveryFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryFirstName" class="control-label"></label>
                <input asp-for="DeliveryFirstName" class="form-control" placeholder="Enter First Name"/>
                <span asp-validation-for="DeliveryFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryLastName" class="control-label"></label>
                <input asp-for="DeliveryLastName" class="form-control" placeholder="Enter Last Name"/>
                <span asp-validation-for="DeliveryLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryFullAddress" class="control-label"></label>
                <input asp-for="DeliveryFullAddress" class="form-control" placeholder="Enter Full Address"/>
                <span asp-validation-for="DeliveryFullAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" placeholder="Enter Message (Optional)"/>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
